@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lexend Deca';
  src: local('LexendDeca'), url(../public/fonts/LexendDeca-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: 'Glysa';
  src: local('Glysa'), url(../public/fonts/Glysa.otf) format('openType');
}
:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  background: var(--grey-g-100, #141414);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
    background: var(--grey-g-100, #141414);
  }
}

.home {
  /* padding-left: 15px;
  padding-right: 15px; */
  background: var(--grey-g-100, #141414);
  height: 100%;
  width: 100%;
  margin-top: 96px;
}

.header-box {
  width: 100%;
  height: 96px;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
}

.left-header {
  width: 336px;
  height: 100%;
  align-items: center;
  justify-content: center;
  /* border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-color: var(--grey-g-60, #282828);
  border-top-color: var(--grey-g-60, #282828);
  border-bottom-color: var(--grey-g-60, #282828); */
}

.right-header {
  width: 336px;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.button-icon-back {
  display: inline-flex;
  height: 40px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-top: 28px;
  margin-left: 272px;
}

.contacts-box {
  display: flex;
  width: 720px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-headline {
  margin: 24px;
  height: auto;
  width: 720px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.buttons-icon {
  display: flex;
  height: 40px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
}

.pfp-image{
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px;
  justify-content: center;
  align-items: center;
}

.add-new-icon {
  cursor: pointer;
  display: flex;
  height: 40px;
  padding: 8px 16px 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 1000px;
  border: 1px solid #3C3C3C;
  background: linear-gradient(180deg, rgba(40, 40, 40, 0.70) 0%, #282828 100%), #141414;
}

.add-new-text {
  color: var(--text-icon-primary, #FFF);
  /* Body */
  font-family: Lexend Deca;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}

.light-mode-button {
  display: inline-flex;
  height: 40px;
  padding: 8px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  margin-top: 28px;
  margin-left: 24px;
}

/* contact list */
.contacts-container {
  margin-left: 336px;
  margin-right: 336px;
  height: 708px;
  align-items: center;
  justify-content: center;
}

.contacts-list {
  display: flex;
  width: 720px;
  flex-direction: column;
  align-items: flex-start;
  /* margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px; */
}

.contact-item {
  display: flex;
  height: 64px;
  padding: 12px 551px 12px 0px;
  align-items: flex-start;
  align-self: stretch;
}

.contact-item-buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 400px;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 16px;
  
}

.contact-pfp {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.contact-pfp-image {
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid var(--grey-g-60, #282828);
  background:  lightgray 50% / cover no-repeat,  lightgray 50% / cover no-repeat;
}

.namecard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h3 {
  color: var(--text-icon-primary, #FFF);

  /* H3 */
  font-family: Lexend Deca;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
  white-space: nowrap;
}

.message {
  color: var(--text-icon-secondary, rgba(255, 255, 255, 0.56));

  /* Message */
  font-family: Lexend Deca;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
}

/* contact-item-buttons on hover */


.contact-item-buttons-icon-holder {
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 40px;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border-radius: 8px;
}

/* wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */



body {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  background: #000000;
}

h1 {
  font-family: 'Glysa';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

h2 {
  font-family: 'Glysa';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}

/* Modal screen */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 999; 
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  width: 364px;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 8px;
  background: var(--grey-g-100, #141414);
}

.modal-info {
  display: flex;
  width: 316px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.frame {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal-pfp {
  display: flex;
  width: 88px;
  height: 88px;
  justify-content: center;
  align-items: center;
}

.modal-pfp-image {
  flex-shrink: 0;
  border-radius: 88px;
  border: 1px solid var(--grey-g-70, #232323);
  background: lightgray 50% / cover no-repeat;
}

.add-pic-buttons {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
}

.icon-label {
  display: flex;
  height: 40px;
  padding: 8px 16px 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: var(--grey-g-50, #2D2D2D);
}

.add-pic {
  color: var(--text-icon-primary, #FFF);
  font-family: Lexend Deca;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.add-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.add-info-label {
  align-self: stretch;
  color: var(--text-icon-secondary, rgba(255, 255, 255, 0.56));

  /* Message */
  font-family: Lexend Deca;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.12px;
}

.input-field{
  display: flex;
  height: 40px;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--grey-g-60, #282828);
  background: var(--grey-g-80, #1E1E1E);
}

.input-area {
  flex: 1 0 0;
  color: var(--text-icon-disabled, rgba(255, 255, 255, 0.32));
  background: var(--grey-g-80, #1E1E1E);
  font-family: Lexend Deca;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-footer {
  display: flex;
  padding: 24px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.modal-cancel-button {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-done-button {
  display: flex;
  height: 40px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #262626;
  cursor: pointer;
}

.modal-cancel-done-text {
  color: var(--text-icon-primary, #FFF);
  font-family: Lexend Deca;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* dropdown */
.dropdown-container {
  margin-left: 178px;
  margin-top: 4px;
}

.dropdown {
  display: flex;
  width: 219px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--grey-g-80, #1E1E1E);
  position: relative;
  z-index: 2;

}

.dropdown-menu-item {
  display: flex;
  border-radius: 8px;
  width: 219px;
  padding: 12px 10px;
  align-items: center;
  gap: 12px;
}

.dropdown-menu-item:hover {
  background: var(--grey-g-70, #232323); 
}

.dropdown-icon-img {
  flex-shrink: 0;
}

.more-icon:hover {
  border-radius: 8px;
  background: var(--grey-g-80, #1E1E1E);
}

.dropdown-icon-text {
  color: #FFF;

  /* Body */
  font-family: Lexend Deca;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.14px;
}